.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 28px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  margin-left: 5px;
  background-color: transparent;

  &.active {
    background-color: #2C2C2C;
    color: white;
  }
}